$ff: 'Inter', sans-serif;

$text: #474747;
$primary: #4579CB;
$anim1primary: #5487d7;
$anim2primary: #7aa8f0;
$white: #FFFFFF;
$black: #000;
$grey: #666666;
$almostblack: #232323;
$blueonblack: #5987D1;
$border: #CACACA;
$bg: #F6F7FD;
$email: #E6E6E6;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1210px;
